<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wowls.sff.mapper.ImageStorageMapper">
 
<insert id="saveImage" parameterType="java.util.Map">
	insert into store_image (store_id, image_name, image_order, cre_date, upd_date)
		values(#{storeId}, #{imageName}, #{imageOrder}, '20190203','20190204')
</insert>

<select id="showImageNameByImageOrder" parameterType="java.util.Map" resultType="String">
	select store_image.image_name			
	from store_image
	where store_image.store_id=#{storeId}
	  and store_image.image_order=#{imageOrder}			
			
</select>

<select id="showImageNameByImageName" parameterType="java.util.Map" resultType="String">
	select store_image.image_name			
	from store_image
	where store_image.store_id=#{storeId}
	  and store_image.image_name=#{imageName}			
			
</select>

<!-- <delete id="removeImage" parameterType="java.util.Map">
	delete from store_image where store_id = #{storeId} and image_name = #{imageName}
</delete>
 -->
</mapper>
